body {
    margin: 0;
    font-family: Arial;
    background: #eef1f5;
}

header {
    background: #0d6efd;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.approve-btn {
    background: green;
    color: white;
}
You sent
.clear-btn {
    background: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

.clear-btn:hover {
    background: #b02a37;
}
/* POPUP BACKGROUND */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

/* POPUP BOX */
.popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.popup-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.save-btn {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-btn {
    background: #6c757d;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.clear-btn {
    background: #dc3545;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}